body{
    background-image: url("./img/fundo.jpg");
	background-repeat: repeat;
    font-family: 'Garamond', Times New Roman, Times, serif;
	font-size: 20px;
}
.logo{
    width: 40px;
}
.a-gold{
    color: #cc0;
}
.a-green{
    color: #0c6;
}
.a-yellow{
    color: #fc0;
}
.a-red{
    color: red;
}
.a-grey{
    color: white;
}
.a-black{
    color: black;
}
a{
    color: #cc0;
}
a:hover{
    color: yellow;
    text-decoration: none;
}
.button{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 2px;
    margin-bottom: 5px;
    border-color: white;
    width: 100%;
}
.dark {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Garamond', Courier, monospace;
    font-weight: bold;
    width: 100%;
    color: white;
    border: white 1px solid;
    background-color: rgb(0,0,0,0.5);
}
.btn{
    width: auto;
    margin: 2px;
    color: black;
}
.card{
	background-color: rgb(0,0,0,0.7);
}
.div-black{
	background-color: black;
}
.div-black-transparent{
	background-color: rgb(0,0,0,0.7);
}
.transparent{
	background-color: rgb(0,0,0,0);
}

hr{
    color: #999;
}
h1{
text-align: center;
}
.fundo{
    background-image: url("./img/fundo.jpg");
	background-repeat: repeat;
}
.vanhelsing{
    background-image: url("./img/paper.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Caveat', Times New Roman, Times, serif;
	font-size: 20px;
    color: black;
}
.you{
    background-image: url("./img/paper.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Handlee', Times New Roman, Times, serif;
	font-size: 20px;
    color: black;
}
.you1{
    background-image: url("./img/page1.png");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Handlee', Times New Roman, Times, serif;
	font-size: 20px;
    color: black;
}
.you2{
    background-image: url("./img/page2.png");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
    font-family: 'Handlee', Times New Roman, Times, serif;
	font-size: 20px;
    color: black;
}
.folderdown{
    background-image: url("./img/folderdown.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
}
.folderup{
    background-image: url("./img/folderup.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
}
.folder{
    background-image: url("./img/folder.jpg");
    background-repeat: no-repeat;
    background-position:  center;
    background-attachment: scroll;
    background-size: cover;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Garamond';
    color: white;
    background-color: rgb(0,0,0,0);
    width: 80%;
  }
  .top {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Garamond';
    color: white;
    background-color: rgb(0,0,0,0);
    width: 80%;
  }
  .bottom {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Garamond';
    color: white;
    background-color: rgb(0,0,0,0);
    width: 80%;
  }