body {
    margin: 0;
    padding: 0;
    text-align: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    font-family: 'Garamond', Times New Roman, Times, serif;
    background-image: url("https://drive.google.com/uc?export=view&id=1-fPo6in43yZehmA9721Tn3HgYHhKed6H");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

hr{
    color: #990;
}

button {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Garamond', Times New Roman, Times, serif;
    font-weight: bold;
    width: 70%;
    color: white;
    border: white solid 1px;
    background-color: rgb(0,0,0,0.3);
}
.light {
    font-size: 80%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 90%;
    color: white;
    border: solid grey 1px;
    background-color: rgb(255,255,255,0.6);
}
.dark {
    font-size: 100%;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    width: 100%;
    color: white;
    border: white 1px solid;
    background-color: rgb(0,0,0,0.5);
}

#flip,
#roll {
    background-color: rgba(153, 153, 0, 0.5);
}

#flip:hover,
#roll:hover {
    background-color: rgba(153, 153, 0);
}
#flip,
#draw {
    background-color: rgba(153, 153, 0, 0.5);
}

#flip:hover,
#draw:hover {
    background-color: rgba(153, 153, 0);
}
.fundo{
    background-image: url("https://drive.google.com/uc?export=view&id=1ydHMWW_Wi9veK2j2x2TeNY03fthTbYTI");
    background-repeat: repeat;
    background-position: top;
    background-attachment: fixed;
}
img{
    width: 100%;
}
.img2{
    width: 60%;
}
.card{
    width: 100%;
    background-color: rgb(0,0,0,0.5);
}
a {
    color: #990;
}
a:hover{
    color: yellow;
    text-decoration: none;
}
